In [1]:
!pip install sqlite3

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [2]:
!pip install pymysql

Requirement already satisfied: pymysql in /opt/conda/lib/python3.9/site-packages (1.0.2)

In [3]:
import pandas as pd
import pymysql

In [4]:
def read_file(path):
    pd.read_csv(path, sep=',')

## Importando los archivos

In [5]:
df_eficacia = pd.read_csv('./datasets/eficacia.csv', sep=',')
df_edad = pd.read_csv('./datasets/edad.csv', sep=',')
df_paises = pd.read_csv('./datasets/paises.csv', sep=',')
df_vacunas = pd.read_csv('./datasets/vacunas.csv', sep=',')





## Explorando eficacia

In [6]:
df_eficacia.dtypes

vaccine                        object
efficacy_disease_alpha        float64
efficacy_infection_alpha      float64
efficacy_disease_bgd          float64
efficacy_infection_bgd        float64
efficacy_disease_omicron      float64
efficacy_infection_omicron    float64
dtype: object

In [7]:
df_eficacia.shape

(12, 7)

In [8]:
df_eficacia.head(2)

,vaccine,efficacy_disease_alpha,efficacy_infection_alpha,efficacy_disease_bgd,efficacy_infection_bgd,efficacy_disease_omicron,efficacy_infection_omicron
0,astra_zeneca,0.94,0.63,0.94,0.69,0.71,0.36
1,cansino,0.66,0.62,0.64,0.61,0.48,0.32

## Explorando edad

In [9]:
df_edad.dtypes

location                                object
date                                    object
age_group                               object
people_vaccinated_per_hundred          float64
people_fully_vaccinated_per_hundred    float64
people_with_booster_per_hundred        float64
dtype: object

In [10]:
df_edad.shape

(232, 6)

In [11]:
df_edad.head(2)

,location,date,age_group,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,people_with_booster_per_hundred
0,Austria,07/12/2021,0-4,0.19,0.05,0.00
1,Austria,07/12/2021,5,36.61,24.16,0.28

## Explorando pa√≠ses

In [12]:
df_paises.dtypes

code                         object
continent                    object
country                      object
date                         object
total_cases_per_million     float64
total_deaths_per_million    float64
population_density          float64
cardiovasc_death_rate       float64
diabetes_prevalence         float64
life_expectancy             float64
hdi                         float64
dtype: object

In [13]:
df_paises.shape

(196, 11)

In [14]:
df_paises.head(2)

,code,continent,country,date,total_cases_per_million,total_deaths_per_million,population_density,cardiovasc_death_rate,diabetes_prevalence,life_expectancy,hdi
0,AFG,Asia,Afghanistan,09/12/2021,3955.901,183.781,54.422,597.029,9.59,64.83,0.511
1,ALB,Europe,Albania,09/12/2021,70611.786,1088.782,104.871,304.195,10.08,78.57,0.795

## Explorando vacunas

In [15]:
df_vacunas.dtypes

country         object
continent       object
code            object
date            object
pfizer           int64
moderna          int64
aztra_zeneca     int64
johnson          int64
sputnik          int64
sinovac          int64
sinopharm        int64
cansino          int64
dtype: object

In [16]:
df_vacunas.shape

(41, 12)

In [17]:
df_vacunas.head(2)

,country,continent,code,date,pfizer,moderna,aztra_zeneca,johnson,sputnik,sinovac,sinopharm,cansino
0,Czechia,Europe,CZE,09/12/2021,11769212,1178342,884369,399057,0,0,0,0
1,European Union,Europe,EU,09/12/2021,474558136,70560744,67256712,17652060,1845077,9,2201503,0

In [18]:
df_catalogo_paises = {
    'id': range(1, len(df_vacunas) + 1),
    'country': df_vacunas['country'].unique(),
}
df_catalogo_paises = pd.DataFrame(df_catalogo_paises)
df_catalogo_paises.set_index('id', drop=True)
df_catalogo_paises

    id         country
0    1         Czechia
1    2  European Union
2    3       Hong Kong
3    4           Italy
4    5          Latvia
5    6     South Korea
6    7         Ukraine
7    8   United States
8    9         Uruguay
9   10           Chile
10  11          France
11  12         Germany
12  13         Iceland
13  14         Romania
14  15     Switzerland
15  16         Austria
16  17         Belgium
17  18        Bulgaria
18  19         Croatia
19  20         Denmark
20  21         Finland
21  22         Ireland
22  23      Luxembourg
23  24     Netherlands
24  25            Peru
25  26          Poland
26  27        Slovakia
27  28          Sweden
28  29          Cyprus
29  30         Estonia
30  31         Hungary
31  32   Liechtenstein
32  33       Lithuania
33  34           Malta
34  35          Norway
35  36        Portugal
36  37        Slovenia
37  38         Ecuador
38  39           Spain
39  40          Mexico
40  41           Japan

In [19]:
connection = pymysql.connect(host='database-1.cm5igvjqxyyd.us-east-2.rds.amazonaws.com',
                         user='admin',
                         password='rootR00T!',
                         db='covid')

# create cursor
cursor=connection.cursor()

In [20]:
cols = "`,`".join([str(i) for i in df_catalogo_paises.columns.tolist()])

for i,row in df_catalogo_paises.iterrows():
    sql = "INSERT INTO `countries` (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql, tuple(row))

    connection.commit()

In [21]:
sql = "SELECT * FROM `countries`"
cursor.execute(sql)

result = cursor.fetchall()
for i in result:
    print(i)

(16, 'Austria')
(17, 'Belgium')
(18, 'Bulgaria')
(10, 'Chile')
(19, 'Croatia')
(29, 'Cyprus')
(1, 'Czechia')
(20, 'Denmark')
(38, 'Ecuador')
(30, 'Estonia')
(2, 'European Union')
(21, 'Finland')
(11, 'France')
(12, 'Germany')
(3, 'Hong Kong')
(31, 'Hungary')
(13, 'Iceland')
(22, 'Ireland')
(4, 'Italy')
(41, 'Japan')
(5, 'Latvia')
(32, 'Liechtenstein')
(33, 'Lithuania')
(23, 'Luxembourg')
(34, 'Malta')
(40, 'Mexico')
(24, 'Netherlands')
(35, 'Norway')
(25, 'Peru')
(26, 'Poland')
(36, 'Portugal')
(14, 'Romania')
(27, 'Slovakia')
(37, 'Slovenia')
(6, 'South Korea')
(39, 'Spain')
(28, 'Sweden')
(15, 'Switzerland')
(7, 'Ukraine')
(8, 'United States')
(9, 'Uruguay')

In [22]:
connection.close()